<div class="row">
    <div class="col-md-5">
        <label style="margin-top:7px;">Statistic options</label>
    </div>
    <div class="col-md-7">
        <select class="form-control" ng-model="vm.dataField.statisticsOptions" ng-disabled="readonly">
            <option value="none">None</option>
            <option value="discrete">Discrete</option>
            <option value="continuous">Continuous</option>
        </select>
    </div>
</div>
<div class="row" ng-if="vm.dataField.statisticsOptions!='none'">
    <div class="col-md-12" style="margin-top:7px;">
        <a ng-class="vm.restartButtonClass" ng-click="vm.restart(vm.dataField)">{{vm.restartButtonText}}</a>
    </div>
    <div class="col-md-12" style="margin-top:7px;" ng-show="vm.showAlert">
        <span class="red-alert">Question?</span>
    </div>
</div>
